@{
    ViewData["Title"] = "Contact";
}

<div class="container text-center p-5">
    <div class="py-5">
        <h1 class="display-4">Contact Me</h1>
        <p class="fs-4">Do you want to contact me? Click any of the buttons!</p>

        <a href="mailto:omoyibo.victory@gmail.com" class="btn btn-outline-primary">Email</a>
        <a target="_blank" href="https://github.com/EBRUSTECH" class="btn btn-dark">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/victory-omoyibo-184266156/" class="btn btn-primary">LinkedIn</a>
    </div>

</div>